.container-active-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.title-list {
  cursor: pointer;
  margin-right: 41px;
}

.title-list:hover {
  color: rgb(174, 43, 235);
}
.list_title2 {
  margin-right: 23px;
}
